__pycache__/
.ipynb_checkpoints/
result*/
logs/
*.egg-info
lib/models/
notebooks/reports/
.vscode/
__logs__/
.pytest_cache/

#frontend
/node_modules
/build
.DS_Store
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.idea
