__logs__/
__pycache__/
.ipynb_checkpoints/
.mypy_cache/
.pytest_cache/
.vscode/
*.egg-info
apps/backend/models/
apps/frontend/build
apps/frontend/node_modules
cv_pipeliner/tests/metrics/images/
examples/
lib/models/
logs/
models/
my_config*.yaml
my_env*.env
my_exports*.sh
notebooks/reports/
result*/
tests/tmp/
charts/
poetry.lock