__pycache__/
.ipynb_checkpoints/
result*/
logs/
*.egg-info
lib/models/
notebooks/reports/
.vscode/
__logs__/
.pytest_cache/
apps/backend/models/
tests/tmp/
apps/frontend/node_modules
apps/frontend/build
my_config*.yaml
my_exports*.sh
my_env*.env
examples/
models/