html {
  -webkit-text-size-adjust: 100%;
  box-sizing: border-box;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 20px;
}

body {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  background-color: #111111;
  margin: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

.container {
  display: flex;
  height: 100vh;
}

.video {
  left: -9999px;
  opacity: 0;
  position: absolute;
  top: -9999px;
}

.canvas-layers {
  position: relative;
  width: 100%;
}

.image-layer,
.boxes-layer {
  height: auto;
  max-height: 100vh;
  max-width: 100%;
  object-fit: contain;
  width: 100%;
}

.image-layer {
  position: relative;
  z-index: 1;
}

.boxes-layer {
  left: 0;
  position: absolute;
  top: 0;
  z-index: 3;
}

.controls {
  align-items: flex-end;
  display: flex;
  flex-wrap: wrap;
  left: 10px;
  margin: 0 auto;
  opacity: 0.25;
  position: absolute;
  right: 10px;
  top: 10px;
  transition: opacity 0.16s ease;
  z-index: 5;

  &:hover {
    opacity: 1;
  }
}

.button {
  background-color: #0078e7;
  border-radius: 2px;
  border: transparent;
  color: #ffffff;
  cursor: pointer;
  flex-shrink: 0;
  font-family: inherit;
  margin-bottom: 5px;
  margin-right: 5px;
  padding: 5px 10px;
  text-align: center;
  user-select: none;

  &:not(:disabled):hover {
    background-image: linear-gradient(transparent, rgba(0, 0, 0, .05) 40%, rgba(0, 0, 0, .1));
  }

  &:disabled {
    opacity: 0.25;
  }
}

.input-field {
  display: inline-flex;
  flex-direction: column;
  flex-shrink: 0;
  margin-bottom: 5px;
  margin-right: 5px;

  &--quality {
    .input-field__input {
      width: 75px;
    }
  }

  &--delay {
    .input-field__input {
      width: 125px;
    }
  }
}

.input-field__label {
  color: #cccccc;
}

.input-field__input {
  background-color: transparent;
  border-radius: 2px;
  border: 1px solid #cccccc;
  color: #cccccc;
  font-family: inherit;
  padding: 5px 10px;
}
