opencv_python==4.3.0.36
numpy==1.17.4
imageio==2.9.0
tensorflow_gpu==2.2.0
dataclasses==0.6
nbformat==5.0.7
matplotlib==3.2.2
tqdm==4.40.2
object_detection==0.1
pandas==1.0.5
ipywidgets==7.5.1
ipython==7.17.0
Pillow==7.2.0
scikit_learn==0.23.2
tensorflow==2.3.0
